<nav class="navbar bg-body-tertiary bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#"style='color:white'>Navbar</a>
      <form class="d-flex">
        <a class=" me-2 " routerLink="/home" style="text-decoration: none; color: white;  padding-top: 4px;" >Home</a>
        <a class="me-2 mr-4" routerLink="/network" style="text-decoration: none;color: white; padding-top: 4px; ">Network</a>
        <a class=" me-2 " routerLink="/friends" style="text-decoration: none; color: white;padding-top: 4px;">Friends</a>
        <a class="me-2" routerLink="/settings" style="text-decoration: none; color:red; font-size: 20px; ">Settings</a>
        <a class=" me-2 " routerLink="/login" style="text-decoration: none; color: white; padding-top: 4px;" >Logout</a>
      </form>
    </div>
  </nav>

<div class="justify-content-center" style="margin-top: 100px; margin-left: 100px; border:1px solid grey; border-radius: 10px; width:700px;">
    <table class="table table-striped">
        <thead>
            <tr>
                <th style="color:red">Profile Settings</th>
                <th><a href="#" style="text-decoration:none; color: black;">Change Password</a></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Name</td>
                <td>Last name</td>
            </tr>
            <tr>
                <td>Male</td>
                <td>DOB</td>
            </tr>
            <tr>
                <td>Email</td>
                <td>Number</td>
            </tr>
            <tr>
                <td>Country</td>
                <td>State</td>
            </tr>
           
                <button class="btn btn-success">Save</button>
          
        </tbody>
    </table>
</div>